SCIM HTTP requests commands

Implement a few commands that perform SCIM HTTP operations.

# POST (create)

## query
Valid endpoints:
- `/<Resource>`

## response
- 201+payload when created
- 409 + UniqueError when a conflict is met

## usage
```shell
scim https://scim.example.org user create
--externalId=...
--userName=...
--name.familyName=...
--email=foo@example.com
--email=bar@example.com
```

# GET (query)
[RFC7644 §3.4](https://datatracker.ietf.org/doc/html/rfc7644#section-3.4)

## queries
Valid endpoints are:
- `/` (every resource is returned)
- `/<Resource>` (every resource of type Resource is returned)
- `/<Resource>/<id>` the exact resource is returned

## responses
- Return 404 if not found
- Return 200 + payload if found:
   - payload is a Resource if a single resource is reached
   - ListResponse[Resource] if several resources are returned
   - [RFC7644 §3.4](https://datatracker.ietf.org/doc/html/rfc7644#section-3.4.2.4) indicates that results can be paginated.


## parameters
- [RFC7644 §3.9](https://datatracker.ietf.org/doc/html/rfc7644#section-3.9) indicates parameters to include or exclude given attributes. In consequence, partial Resources can be returned.
- [RFC7644 §3.4](https://datatracker.ietf.org/doc/html/rfc7644#section-3.4.2.2) indicates that filters can be passed to queries
- [RFC7644 §3.4](https://datatracker.ietf.org/doc/html/rfc7644#section-3.4.2.3) indicates that sorting options can be passed to queries
- [RFC7644 §3.4](https://datatracker.ietf.org/doc/html/rfc7644#section-3.4.2.4) indicates that pagination options can be passed to queries

## usage
```shell
scim https://scim.example.org user get <user_id>
```

# Search

## queries
queries can be made against `/.search` by POST, using the [SearchRequest](https://pydantic-scim2.readthedocs.io/en/latest/reference.html#pydantic_scim2.SearchRequest) resource.

## responses
Return ListResponse

## parameters
Parameters are very similar to GET. 

# DELETE (delete)

[RFC7644 §3.6](https://datatracker.ietf.org/doc/html/rfc7644#autoid-28)

```shell
scim https://scim.example.org user delete <user_id>
```

# response
- Return HTTP 204 if successful
- Return 404 if not found


# PUT (replace)

## query
Valid endpoints are `/<Resource>/<id>`

## response
- Return 404 if not found
- Return 200 + payload if found:

## usage

```shell
scim https://scim.example.org user set <user_id> 
--externalId=... 
--userName=... 
--name.familyName=... 
--email=foo@example.com 
--email=bar@example.com
```


# PATCH (modify)
...